<!-- like and dislike post -->
hello

<!-- <form action="/posts/<%=@post.id%>/update_like" method="post" class="button_likes like_form" id="form_to_disable">
	<button type="submit" class="thumb-up">
    	<i class="far fa-thumbs-up thumbs"></i> <%=@post.likes%>
	</button>
</form>

<form action="/posts/<%=@post.id%>/update_dislike" method="post" class="button_likes" id="form_to_disable2">
	<button type="submit" class="thumb-down">
    	<i class="far fa-thumbs-down thumbs"></i> <%=@post.dislikes%>
	</button>
</form> -->
