<!-- like and dislike post -->
<!-- hello
 -->
<!-- <form action="/likes" method="post" class="button_likes like_form" id="form_to_disable"> -->
<!-- <form action="/posts/<%=@post.id%>/update_like" method="post" class="button_likes like_form" id="form_to_disable"> -->
<!-- 	<button type="submit" class="thumb-up" value="like">
    	<i class="far fa-thumbs-up thumbs"></i> <%=%>
	</button> -->
<!-- <form action="/posts/<%=@post.id%>/update_dislike" method="post" class="button_likes" id="form_to_disable2"> -->
	<!-- <button type="submit" class="thumb-down" value="dislike">
    	<i class="far fa-thumbs-down thumbs"></i> <%=%>
	</button> -->

<!-- </form> -->

<!-- <form action="/likes" method="post">
  <input name='like' type='submit' value='like' />
  <input name='dislike' type='submit' value='dislike' />
</form> -->