<%#
# Action bar
%>
<div id="action-bar">
  <div class="button left edit-post auth-aware"    title="Edit"     style="display: none;"><a href="#" ></a></div>
  <div class="button left delete-post auth-aware"  title="Delete"   style="display: none;"><a href="#"></a></div>
  <div class="button right new-post auth-aware"    title="New"      style="display: none;"><a href="#"></a></div>
  <div class="button right all-posts"              title="Home"     style="display: none;"><a href="#"></a></div>
  <div class="button left back"                    title="Back"     style="display: none;"><a href="#"></a></div>
  <div class="button left save-post auth-aware"    title="Save"     style="display: none;"><a href="#"></a></div>
</div>
