<%= form_with model: [ @post, Comment.new ] do |form| %>
  <div class="card">
    <div class="card-header">
      Your comment:
    </div>
    <div class="card-body">
      <%= form.rich_text_area :content %><br/>
      <%= form.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>