<div class="fw-light d-flex justify-content-between">
  <div><%= format_date_time(post.created_at) %></div>
  <% if post.created_at != post.updated_at %>
    <div><em>edited at </em><%= format_date_time(post.updated_at) %></div>
  <% end %>
</div>