<div id = "wholepage">
  <h1> Hedgeye Web development internship</h1>
  <h3> Created by: Dmitri Ostapenko</h2>
	<div id = buttons>
		<%= link_to 'View', @post %> |
		<%= link_to 'Back', posts_path %>
	</div>
	<h1>Editing post</h1>

	<%= render 'form' %>
</div>


