<h1 class="mb-3">Posts</h1>

<% if @posts.empty? %>
  <p class="mb-3">No posts have been created yet.</p>
<% else %>
  <% @posts.each do |post| %>
    <%= render 'card', post: post %>
  <% end %>
<% end %>

<%= link_to 'New Post', new_post_path, class: 'btn btn-primary' %>
