<%#
# Initial html page
%>

<div id="notice"></div>
  <div id="blog-wall">
    <div id="all-posts" class="all-posts"></div>
    <div id="single-post"></div>
    <div id="form-post" class="form-post"></div>
    
  </div>
  <div id="popup-container"></div>



  