<div class="post">
  <h2><%= post.title %> <small><%= time_ago_in_words post.created_at%> ago</small></h2>
  <p><%= truncate post.content, length: 180 %></p>
  <%= link_to "Read more...", post %>
</div>