<h2 class="white-text">Edit Post</h2>
<!-- back to home button -->
<i class="fas fa-angle-left"></i>
<%= link_to 'Back', posts_path %>
</br>
</br>
<!-- form to edit the post -->
<div class="row blue-grey lighten-5 block-post">
	<div class="row right-align">
	<%= link_to 'View Post', @post %> 
	</div>
	<%= render 'form', post: @post %>
</div>
</br>
</br>
</br>


