<div class="container">
  <div class="content">
    <div class="header">
      <h1 class="form-header">Edit Post</h1>
    </div>
    <%= render 'form', post: @post %>
  </div>
</div>
<%= link_to posts_path, method: :get do %>
  <span class="edit"><i class="fa fa-arrow-left"></i></span>
<% end %>
