<div class="hero">
  <h1>Posts</h1>
</div>
<div class="new-post">
  <%= link_to 'New Post', new_post_path, class:"post-link" %>
</div>
<% @posts.each do |post| %>
  <div class="container">
    <div class = "content">
      <div class="header">
        <h2><%= post.title %></h2>
      </div>
      <div class="intro-body">
        <p>
        <%= post.post_introduction %>
        ...<%= link_to "Keep Reading", post_path(post) %>
        </p>
      </div>
    </div>
  </div>
<% end %>
<br>

