<!-- display the form to fill up a comment -->
<p class="blanc">
	Add a comment:
</p>

<%= form_for [@post, @post.comments.build] do |f| %>
	<div class="field">   
		<%= f.label :content %>
		<%= f.text_area  :content, id: :comment_content %>  
	</div>
	<div class="actions right">
			<i class="fas fa-save update-button"><%= f.submit %></i>
	</div>
<% end %>





