<!DOCTYPE html>
<html>
<head>
  <title>A Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">A Blog</a>
    </div>
  </nav>
  <div class = "container">
    <div class="row">
      <div class="span9">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
