/*
 *= require_tree .
 *= require_self
 */
.runner {
	background-color: #ABB8C0;
}


.block-post {
	padding: 40px;
	border-radius: 10px;
	word-break: break-all;
	word-wrap: break-word;
}

.post-body {
	text-align: justify;
	height: 70px; 
	overflow: hidden;
}

a, a:link, a:visited, a:hover {
    color: #27DAA8;
}

.container-show {
	margin-top: 10%;
}

.badge-create {
	width: 130px;
	border-radius: 10px;
	padding: 10px;
	float: right;
	margin-top: 50px;
	background-color: black;
	color: white;
}

.center {
	align-content: center;
}

.inline {
	float: left;
}

.clearBoth { clear:both; }

/*overwritting rails id for content of the post in _form*/
#post_content {
	min-height: 400px;
	border-radius: 10px;
	border-color: lightgrey;
}

/*overwritting materialize for button update in _form*/
button, html [type="button"], [type="reset"], [type="submit"] {
	background-color: black;
	border: none;
	color: #27DAA8;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	font-weight: bold;

}

.update-button {
	background-color: black;
	border-radius: 10px;
	padding: 10px;
	color: white;
	align-content: right;
}

.right {
	align-content: right;
}




