/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

* {
    font-family: 'Lucida Sans';
}

.post {
    background-color: #f4f8f9;
    border: 1px dashed;
    border-color: white;
    border-bottom-color: #e6f0f2;
    border-top-color: #e6f0f2;
    width: 500px;
}

.operation {
    font-size: 12px;
    font-weight: normal;
}

.title {
    color: cornflowerblue;
}

.button {
    color: cornflowerblue;
    font-size: 12px;
    font-weight: bold;
}