/*
 *= require_tree .
 *= require_self
 *= require social-share-button
 */
.error {
	font-weight: bold;
	background-color: red;
}

.notice {
	font-weight: bold;
	background-color: lightgreen;
}

.runner, .comment_block {
	background-color: #ABB8C0;
}

a, a:link, a:visited, a:hover, button, html [type="button"], [type="reset"], [type="submit"] {
    color: #27DAA8;
}

.center {
	align-content: center;
}

.inline {
	float: left;
}

.clearBoth { clear:both; }

/*overwritting materialize for buttons*/
button, html [type="button"], [type="reset"], [type="submit"] {
	background-color: transparent;
	border: none;
	font-weight: bold;
}

.right {
	align-content: right;
}

a.blanc, .blanc, .thumbs, #username, .button-create {
	color: white;
}

.hide {
	display: none;
}

.black_head_comment, .button-create, .update-button, .button_likes  {
	background-color: black;
}
