/*for comments/_comments.html*/
#timestamp {
	color: grey;
	text-align: right;
}

#username {
	padding-left: 20px;
}

.comment_block {
	width: 100%;
	border: 1px solid #90A4AE;
	border-radius: 2px;
	padding: 10px;
	min-height: 15px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.delete_my_comment {
	display: inline;
	float: right;
	padding-right: 20px;
}


/*for comments/_new.html*/
#comment_content {
	min-height: 80px;
	border-radius: 10px;
	border-color: lightgrey;
}

