.hero {
	margin-top: 2em;
	margin-bottom: 3em;
	display: flex;
	justify-content: center;
}

.container {
	display: flex;
	justify-content: center;
	margin-bottom: 1.5em;
}

.content {
	width: 95%;
	max-width: 70rem;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	border-radius: 4px;
	overflow: hidden;
}

.header {
	display: flex;
	justify-content: center;
	background-color: black;
	padding-top: 1.5em;
	padding-bottom: 2em;
	width: 100%;
}

.header h2 {
	font-size: 3rem;
	font-weight: bold;
	color: white;
}

.intro-body {
	background-color: white;
	min-height: 3rem;
	padding: 1em 2em;
}

.intro-body p {
	font-size: 1rem;
	text-indent: 1em;
	line-height: 2;
}

.body {
	background-color: white;
	min-height: 10rem;
	padding: 1em 2em;
}

.body p {
	font-size: 1.5rem;
	text-indent: .2em;
	color: black;
}

.post-options {
	margin-top: 7em;
	display: flex;
	justify-content: flex-end;
}

.delete {
	color: var(--warning);
}

.edit {
	margin-left: 1em;
	color: var(--green);
}

.new-post {
	display: flex;
	justify-content: center;
	margin-bottom: 2em;
}

.new-post .post-link {
	background-color: var(--warning);
	color: white;
	border-radius: 4px;
	border: none;
	font-size: 2rem;
	padding: .3em .4em;
	text-decoration: none;
}

.new-post .post-link:hover {
	border: 2px solid var(--warning);
	color: var(--warning);
	background-color: white;
}

.form-header {
	color: white;
}


