*{
  margin: 0px;
  padding: 0px;
}

body{
  background-color: #999999;
  margin:0;
  padding:0;
  text-align:center;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

p{
  font-size: 14px;
  text-align:justify;
  text-indent: 3em;
}

#flash{
  width: 100%;
  background: #faffae;
  border: solid 1px #666;
  font-size: 10px;  
}

#main{
  position:relative;
  margin:0 auto;
  margin-top:0px;
  text-align:left;
  color:#333;
  width:990px;
  font-size: 14px;
}

/************ TOPO *************/
#top{
  position: relative;
  width: 100%;
  background-image: url("/images/bg-top.jpg");
  display:table;
}

#top body{
  font-color:#ff2211;
}



/************ MEIO *************/
#middle{
  position: relative;
  display: table;
  width: 100%;
  margin-bottom: 20px;
}

/* Menu vertical */
#middle ul.menu{
  position: relative;
  float: left;
  width: 145px;
  top: 80px;
  list-style: none;
}

#middle ul.menu p{font-size: 8px; text-align: center; text-indent:0;}
#middle ul.menu li{margin-bottom: 15px; margin-left:10px;}
#middle ul.menu li a{font-size:12px; text-decoration:none; color:#666; font-weight: bold;}
#middle ul.menu li a:hover{color:#00A030; text-decoration:underline;}

/* Conteúdo */
#middle #content{
  position: relative;
  margin-left:auto;
  margin-right:auto;
  float: center;
  width: 800px;
  background: #ffffff;
}

#middle #content h1{
    margin-top: 10px;
    margin-bottom: 10px;

}

#middle #content th, td
{
    border: 2px solid black;
}


#middle #content #writers_login{
    width: 400px;
    position relative;
    margin-top: 100px;
    top:40%;
    left:0%;
    text-align:left;
    
}
#middle #content #commenters_login{
    width: 400px;
    margin-top: 100px;
    position relative;
    top: 40%;
    left:50%;
    text-align:left;
    
}

/*###################FOOTBAR######################*/

#footbar {
  width: 800px;
  position:relative;
  margin-top: 50px;
  left:50%;
  text-align:right;
  margin-left:-400px;

}

