<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-xxl">
    <%= link_to 'Blog', root_path, class: 'navbar-brand' %>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <%= link_to 'New Post', new_post_path, class: (@current_nav_tab == :new_post ? 'nav-link active' : 'nav-link') %>
      </li>
    </ul>
  </div>
</nav>