<!DOCTYPE html>
<html>

<head>
  <title>Xhafer's Blog</title>
</head>


<body background="drkrainbow.gif" bgcolor="#333333">

    <h1>Welcome to Xhafer's Blog</h1>
    <p>We have selected three animals that the audience wanted to explore. Thank you for all the requests you have 
    sent on your favorite animals. In the meantime, this week I have been able to enjoy spring break from college. No more loads of homework! I have been playing intramural soccer and my team won. We managed to beat six other teams. The following picture is of me (on the left) and my co-player (on the right) holding the trophy:</p>
    <img src="https://scontent-ord1-1.xx.fbcdn.net/hphotos-xtp1/v/t1.0-9/12801658_10206573929326144_746716042384840695_n.jpg?oh=97ffe8b8965c15ad9110bf757238c83f&oe=57577166"  width="200">


    <h2>The three most voted wildlife creatures for this week are: rabbits, cows, and ravens. </h2>


    <h3>Rabbits!</h3>
	<img src="https://www.kasandbox.org/programming-images/animals/rabbit.png" alt="Rabbit with lop ears in barn" width="203">
    <p>Rabbits are little creatures with long ears and puffy tails. They move their nose up and down in an adorable way. Clearly they have been reproducing faster than humans could try. </p>

    <h4>Cows! Mooo </h4>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d4/CH_cow_2_cropped.jpg/250px-CH_cow_2_cropped.jpg" width="203">
    <p>Cows may seem to be simple animals, but they're not! Cows can smell something up to 6 miles away. They can produce 125 lbs of saliva in one day. Cows are red-green colorblind and their heart beats between 60 and 70 beats per minute. Just like us human beings, cows are pregnant for nine months. Interestingly enough cows spend eigh hours per day eating, eight hours chewing, and eight hours sleeping.</p>


    <h5>Ravens! </h5>
    <img src="https://www.allaboutbirds.org/guide/PHOTO/LARGE/common_raven_glamor.jpg" width="203">
    <p>When we think of ravens the first person that comes to our mind is Edgar Allen Poe. Ravens are one of the smartest animals and they have the ability to imitate human speech. Ravens are very playful but often seen as evil in disguise. Ravens are adaptable and show empathy for each other. </p>


    <h5>This week's animal list is: dogs, cats, crocodiles, elephants, camels, squirrels, and lions. Vote for your favorite by sending a quick email at: ramax@berea.edu.</h5>


</body>
</html>
