<!DOCTYPE html>
<html>
<head style="background-color:lightgrey;">
  <title>Raunak Thakur's Blog</title>
  <!--<h1>Practising Coding</h1>-->
  <h2>Understanding Ruby on Rails</h1>
  <h3 style="font-size:300%;"> Hedgeye seems like a cool place to work. I am ready to explore RoR</h3>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p>Messing around with RoR has been a great learning process.</p>

<%= yield %>

</body>
</html>
