/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    display: block;
}
h1 {
    text-align: center;
    margin-bottom: 0.5em;
}
p {
    margin: 0.5em 0 0 0;
    clear: both;
    text-align: left;
}
h3 {
    margin-top: 0.25em;
    margin-bottom: 0.5em;
    text-align: left;
}
a:link {
    color: #000000;
    background-color: rgba(255, 255, 255, .4);
}
a:hover {
    color: #708090;
}
h4 {
    margin: 0 0 0 0;
    text-align: left;
}
img {
    max-width: 100%;
}
section {
    width: 37.25em;
    margin: 2em auto;
    z-index: 0;
	text-align:center;
}
#header {
    text-align: center;
    margin: 0 auto;
}
#quoteSection {
	margin-bottom: 0.5em;
}
#quote {
    text-align: center;
    margin: 0 0 0 0;
    font-family: 'Abel';
    font-size: 15px;
}
#quote:hover, #person:hover{
    cursor: pointer; 
	cursor: hand;
}
#person {
    text-align: center;
    margin: 0.15em 0 0 0;
    font-family: 'Acme';
    font-size: 14px;
}
#postImage {
    margin-top: 0.5em;
}
#errorMessage {
	color: #FF0000;
}
#postCommentHeader {
	text-align:center;
}
#timePostedComment {
	float:right;
}
#commentBody {
	margin: 2.25em 0 0 0;
}