// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import 'shared-mixin';


.comment-box{
    width: 100%x;
    min-height: 50px;
    abackground-color: rgb(238,238,238);
    border-radius: 1px;
    box-shadow: 0px 1px 1px #fff inset;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
    margin-bottom: 1px;

    @include comment-background;
    .commenter, .created-at{
        color : #08c;
    }

    .created-at {
        font-size:11px
    }

    .delete {
        transition: opacity 0.5s;
        -moz-transition: opacity 0.5s;
        -webkit-transition: opacity 0.5s;
        -o-transition: opacity 0.5s;

        opacity: 0;
        width: 24px;
        height: 24px;
        position: absolute;
        top:3px;
        right:3px;
        cursor: pointer;
        background: url('delete-24.ico');
        &:hover {
            background-position: 0px -24px;
        }
    }
    &:hover .delete {
        opacity: 1;
    }

}

.comments-header {
    position:relative;
    width: 100%;
    height: 40px;
    aborder: 1px solid #ddd;
    border-radius: 2px;
    padding-top: 2px;
    margin: 15px auto 0px;
    @include action-bar-color;
    .title{
        display: inline-block;
        font-size: 28px;
        text-shadow: #fff;
        line-height: normal;
        color: #888;
        margin-left: 30px;
    }
        
    .button{
        position: absolute;
        right: 5px;
    }
    
}

.form-comment-container {
    background-color: #EEE;
    padding:5px 5px 0px 5px;
    position: relative;
    
    box-shadow:inset 1px 1px 1px #fff;
    border-radius:2px;

}

