// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p {
	color: blue;
}

li {
	display: inline;
}

.field {
	width: 700px;
}

#comment {
width: 700px;
}

textarea {
	width: 700px;
}

#show {	
	margin-left: auto;
	margin-right: auto;
}

#buttons {
	float: right;
}

#wholepage {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.post{
  padding: 20px;
  margin-bottom: 10px;
  width: 660px;
  background-color: white;
}