$opaqueWhite : #f8f8f8;
$headerColor : #0088cc;
$borderColor : #DDD;
$linkColor   : #08c;

$boxShadow     : 3px 3px 5px #DDD;
$closeShadow   : 1px 1px 3px #AAA;
$whiteShadow   : 1px 1px 3px #fff;


$topBarShadow  : 0px 3px 5px #888;
$blackShadow   : 1px 1px 3px #000;
$tooltipShadow : 2px 2px 10px #888;
