
<html>

<!--
Author:	Charlie Severson
Date:	March 30, 2013
URL:	http://www.oswego.edu/~jdoe
-->




<hr>

<center><IMG SRC="http://media.hometeamsonline.com/photos/hockey/TBKINGS/LOGO_Hedgeye.jpg"></center>

<hr>

<center><h1>Hedgeye Risk Management Blog</h1></center>
<center>

<h1><%= link_to "Hedgeye Blog Postings", posts_path %></h1>

<b>About Hedgeye
<p>
The Hedgeye team features some of the world’s most regarded research analysts united around a vision of independent, un-compromised real-time investment research as a service. Our research teams have buy-side experience, which adds uniqueness to delivering value-added research, insights and ideas to our clients.
</p>
<br>

<hr>

<H2>Navigation</H2>
<A HREF="http://www2.hedgeye.com/pages/about">About</A>
<br>
<A HREF="http://www2.hedgeye.com/pages/individuals">Individuals</A>
<br>
<A HREF="http://www2.hedgeye.com/pages/professionals">Professionals</A>
<br>
<A HREF="http://www2.hedgeye.com/pages/institutions">Institutions</A>
<br>
<A HREF="http://app.hedgeye.com/media">Media</A>
<br>
<A HREF="https://app.hedgeye.com/users/sign_in">Login To Hedgeye</A>
<br>
<hr>


<br>
<hr>
<br>

</html>
    
<%= link_to "Hedgeye Blog Postings", posts_path %>
</center>